[Unit]
Description="这是frp内网穿透服务"
After=network.target

[Service]
Type=forking
ExecStart=/bin/sh /504service/frp/frp.sh start
ExecReload=/bin/sh /504service/frp/frp.sh restart
ExecStop=/bin/sh /504service/frp/frp.sh stop
KillSignal=SIGQUIT
TimeoutStopSec=5
KillMode=process
PrivateTmp=true

[Install]
WantedBy=multi-user.target